<!DOCTYPE html>
<html>
<style>

body {
  background-color: white;
  color: #000000;
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:link {
  color: #0000FF; } /* unvisited */
a:visited {
  color: #87CEEB; } /* visited */
a:hover {
  color: #7B68EE; } /* mouse over */
a:active {
  color:	#FF00FF; } /* selected */

h1 {
  font-size: 4em;
  line-height: normal;
  text-align: center;
  font-weight: bold;
  margin: auto;
  width: 100%;
}

h3 {
  font-size: 2em;
  line-height: 1em;
  font-style: italic;
  margin: auto;
  width: 85%;
}

p {
  font-size: 1.5em;
  line-height: 1.25em;
  margin: auto;
  width: 85%;
}

.author {
  font-size: 1.1em;
  text-align: center;
  }


nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

figcaption {
  text-align: center;
}

.logo {
  background: #fff url=(images/bloc-logo.png);
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  background: #fff url=(images/instagram-pic.jpg);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: auto;
  width: 75%;
}

</style>
</html>
