<!DOCTYPE html>
<html>
<style>

body {
  background-color: white;
  color: #000000;
  font-size: 16px;
}

a {
  text-decoration: none;
}

a:link {
  color: #0000FF; } /* unvisited */
a:visited {
  color: #87CEEB; } /* visited */
a:hover {
  color: #7B68EE; } /* mouse over */
a:active {
  color:	#FF00FF; } /* selected */

h1 {
  font-size: 2em; /* 32px */
  line-height: normal;
  text-align: center;
}

h3 {
  font-size: 100%;
  line-height: 1em;
  font-style: italic;
}

p {
  font-size: 100%; /* 16px */
  line-height: 1.25em;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  background: #fff url=(images/bloc-logo.png);
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  background: #fff url=(images/instagram-pic.jpg);
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

</style>
</html>
